@import url("https://fonts.googleapis.com/css2?family=Coda");
:root {
  --pinky: rgb(184, 160, 223);
  --codewar: #b1361e;
  --shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  letter-spacing: 1.5px;
}
body a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.container::-webkit-scrollbar {
  display: none;
}
.container section {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.introMessage {
  position: absolute;
  width: 100%;
  height: 40%;
  background: transparent;
  backdrop-filter: blur(15px);
  box-shadow: var(--shadow);
  top: 30%;
  z-index: 999;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #fff;
}
@media (min-width: 961px) {
  .introMessage {
    display: none;
  }
}

.btn {
  color: #79397a;
  background: #252525;
  padding: 0.5em;
  margin-top: 1em;
  border-radius: 10px;
}

nav {
  --nav-z-index: 999;
  --nav-fontsize: $calc(0.5rem + 1.2vh);
  --logo-color: #fff;
  --nav-text-color: #fff;
  --nav-text-hover-color: var(--pinky);
  --nav-background: transparent;
  --about-me-color: rgba(121, 57, 122, 1);
  --about-me-background: #fff;
  --about-me-background-hover: rgb(37, 37, 37);
  background: var(--nav-background);
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 1.1em 0;
  z-index: var(--nav-z-index);
  box-shadow: var(--shadow);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
nav .menu {
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 0 1.5em;
}
@media (min-width: 961px) {
  nav .menu {
    flex-direction: row;
  }
}
nav .menu__top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .menu__logo {
  color: var(--logo-color);
  font-size: 0.8rem;
}
@media (min-width: 961px) {
  nav .menu__logo {
    font-size: calc(0.8rem + 0.2vw);
  }
}
nav .menu__expand {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
}
@media (min-width: 961px) {
  nav .menu__expand {
    display: flex;
    flex-direction: row;
    max-width: 60%;
  }
}
@media (min-width: 1147px) {
  nav .menu__expand {
    max-width: 500px;
  }
}
nav .menu__expand li {
  margin-top: 1.5em;
}
@media (min-width: 961px) {
  nav .menu__expand li {
    margin-top: 0;
  }
}
nav .menu__expand li.about-me {
  margin-top: 2em;
}
@media (min-width: 961px) {
  nav .menu__expand li.about-me {
    margin-top: 0;
  }
}
nav .menu__expand li.about-me a {
  background: var(--about-me-background);
  color: var(--about-me-color);
  padding: 0.6em;
  border-radius: 1em;
  box-shadow: var(--shadow);
}
nav .menu__expand li.about-me a:hover {
  background: var(--about-me-background-hover);
}
nav .menu__expand li a {
  color: var(--nav-text-color);
  font-size: var(--nav-fontsize);
  font-weight: 500;
  letter-spacing: 0.1em;
}
nav .menu__expand li a:hover {
  color: var(--nav-text-hover-color);
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4), -3px 10px 12px rgba(0, 0, 0, 0.2);
}
nav .menu__collapse #open-menu {
  display: inline;
}
nav .menu__collapse #close-menu {
  display: none;
}
@media (min-width: 961px) {
  nav .menu__collapse {
    display: none;
  }
}

.nav--scrolled {
  --nav-text-color: #79397a;
  --nav-text-hover-color: var(--codewar);
  --nav-background: #fff;
  --logo-color: #1f3f45;
  --about-me-color: #fff;
  --about-me-background: var(--codewar);
  --about-me-background-hover: #fff;
}

.landing {
  background: linear-gradient(180deg, rgba(53, 87, 75, 0.75) 0%, rgba(51, 74, 86, 0.96) 42.37%, rgba(38, 24, 40, 0.981485) 86.98%, #000000 100%);
  display: flex;
  align-items: flex-end;
}
.landing__main {
  height: 85vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 961px) {
  .landing__main {
    flex-direction: row;
  }
}
@media (min-width: 961px) {
  .landing__feature-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.landing__feature-text h1 {
  font-family: "Poppins";
  color: #ccdaca;
  font-size: calc(1.3rem + 2vw);
  text-align: center;
  font-weight: 700;
  line-height: 1.6em;
  letter-spacing: 0.2em;
  padding: 0.5em;
  margin-bottom: 2em;
}
@media (min-width: 961px) {
  .landing__feature-text h1 {
    margin-bottom: 4em;
    text-align: start;
  }
}
.landing__feature-text .color-programmer {
  color: #a975ff;
}
.landing__feature-text .color-love {
  color: #fc52ff;
}
.landing__feature-text .color-quality {
  color: #a259ff;
}
.landing__feature-text .color-codes {
  color: rgba(85, 181, 146, 0.87);
}
.landing__feature-img {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}
@media (min-width: 961px) {
  .landing__feature-img {
    flex-direction: row;
  }
}
.landing__feature-img #side-img {
  height: 100%;
  width: 100%;
}
@media (min-width: 961px) {
  .landing__feature-img #side-img {
    width: 80%;
  }
}

.intro {
  position: relative;
  background: #fff;
}
.intro__big_polygon {
  background: linear-gradient(260.77deg, #307772 2.95%, rgba(57, 48, 58, 0.91) 119.45%);
  clip-path: polygon(100% 10%, 100% 80%, 0 96%, 0 34%);
  width: 100%;
  height: 100vh;
}
@media (min-width: 961px) {
  .intro__big_polygon {
    clip-path: polygon(100% 10%, 100% 70%, 0 96%, 0 34%);
  }
}
.intro__small_polygon {
  position: absolute;
  top: 0;
  background-color: #202020;
  clip-path: polygon(0 87.5%, 100% 70%, 100% 100%, 0 100%);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 961px) {
  .intro__small_polygon {
    clip-path: polygon(32.2% 87.5%, 100% 67%, 100% 100%, 38% 100%);
  }
}
.intro__small_polygon::after {
  content: "";
  background-color: #282727;
  clip-path: polygon(0 87.5%, 100% 70%, 100% 100%, 0 100%);
  position: absolute;
  top: 0;
  width: 101%;
  height: 101vh;
  left: 10px;
  overflow: hidden;
}
@media (min-width: 961px) {
  .intro__small_polygon::after {
    clip-path: polygon(32.2% 87.5%, 100% 67%, 100% 100%, 38% 100%);
  }
}
.intro__card {
  position: absolute;
  top: 0;
  width: calc(15em + 5vw + 1vh);
  box-shadow: var(--shadow);
  background: white;
  border-radius: 30px;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2em;
  transform: translate(-4%, -60%);
}
@media (min-width: 961px) {
  .intro__card {
    transform: translate(-4%, -70%);
  }
}
.intro__card h1 {
  font-size: calc(1.3rem + 0.2vw);
  margin-top: 1.2em;
}
.intro__card p {
  margin: 1.4em 0;
  font-family: "Ubuntu";
  font-size: calc(1.1rem + 0.2vw);
  line-height: calc(30px + 0.2vw);
}
.intro__footer {
  background: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(13.5vh + 6vw);
  margin-bottom: 0.8em;
}
@media (min-width: 961px) {
  .intro__footer {
    height: 25vh;
  }
}

section.skills {
  height: auto;
}

.skills {
  scroll-margin-bottom: 20rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__edu_card {
  background: linear-gradient(260.77deg, rgba(5, 5, 5, 0.91) 3.67%, rgba(77, 18, 82, 0.91) 25.52%, rgba(20, 122, 136, 0.91) 60.71%, rgba(9, 9, 9, 0.950345) 85.59%);
  width: 32ch;
  margin-top: 8em;
  padding-bottom: 0.5em;
}
.skills__edu {
  background: #fff;
  box-shadow: var(--shadow);
  width: 97%;
  height: 95%;
  padding: 0.2em;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #0da4ad 0%, rgba(0, 1, 0, 0.6) 90%);
  text-align: center;
  font-size: 0.94rem;
  font-weight: 400;
}
.skills__edu h2 {
  font-size: 1.1rem;
  margin-top: 2em;
}
.skills__edu p {
  margin-bottom: 3em;
  line-height: 1.7em;
  letter-spacing: 1.5px;
}
.skills__edu .line {
  width: 50%;
  height: 1px;
  background: #000;
  margin: 2em auto;
  margin-top: 0;
}
@media (min-width: 961px) {
  .skills__edu {
    font-size: 1rem;
  }
}
.skills__line_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.skills__line {
  height: 200px;
  width: 2px;
  margin-top: 2em;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}
.skills__line_title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Coda";
  margin-top: 1em;
}
.skills__card {
  background: #f5f0f4;
  color: #414244;
  font-family: "Lato";
  font-size: calc(0.8rem + 0.5vw);
  letter-spacing: 0.2px;
  font-weight: 400;
  border: 1px solid;
  border-radius: 10px;
}
@media (max-width: 402px) {
  .skills__card {
    width: 95%;
  }
}
@media (min-width: 961px) {
  .skills__card {
    letter-spacing: 1px;
  }
}
.skills__card h3 {
  color: #413331;
  text-align: center;
  font-size: calc(1rem + 0.2vw);
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}
.skills__card .line {
  height: 2px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.skills__card__box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 1.4em calc(0.5em + 0.5vw);
}
.skills__card_inside_card {
  background: #fff;
  line-height: 1.2em;
  border-radius: 10px;
}
.skills__card_inside_card p {
  margin: 1em;
  max-width: 410px;
  min-height: 138px;
}
.skills__card_inside_card #rank {
  width: 5.2ch;
  transform: translate(0%, 30%);
}
.skills__ps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  margin-top: 9em;
}
@media (max-width: 960px) {
  .skills__ps {
    flex-direction: column;
  }
}
@media (max-width: 960px) {
  .skills__ps {
    width: 100%;
  }
}
.skills__ps__card {
  border-color: var(--codewar);
}
@media (min-width: 961px) {
  .skills__ps__card {
    margin-left: 2%;
  }
}
.skills__ps__card .line {
  width: 15ch;
  background: var(--codewar);
}
.skills__ps__card__highlight {
  color: var(--codewar);
}
.skills__ps__card__logo {
  margin-left: 1em;
}
.skills__ps__brain {
  display: none;
}
@media (min-width: 961px) {
  .skills__ps__brain {
    margin-right: 12%;
    display: block;
  }
}
.skills__ps__perfect_brain {
  margin: 20vh auto;
}
@media (min-width: 961px) {
  .skills__ps__perfect_brain {
    display: none;
  }
}
.skills__pd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  margin-top: 0;
  flex-direction: column-reverse;
  margin-bottom: 5em;
}
@media (max-width: 960px) {
  .skills__pd {
    flex-direction: column;
  }
}
@media (max-width: 960px) {
  .skills__pd {
    width: 100%;
  }
}
@media (min-width: 961px) {
  .skills__pd {
    margin-top: 9em;
    flex-direction: row-reverse;
  }
}
.skills__pd__card {
  border-color: #19b5f5;
}
@media (min-width: 961px) {
  .skills__pd__card {
    margin-left: 2%;
  }
}
.skills__pd__card .line {
  width: 21ch;
  background: #a259ff;
}
.skills__pd__card__highlight {
  color: #a259ff;
}
.skills__pd__card__box {
  flex-direction: row-reverse;
}
.skills__pd__card__logo {
  margin-bottom: 2em;
  margin-right: 1em;
}
@media (max-width: 960px) {
  .skills__pd__card__logo {
    margin-bottom: 5em;
  }
}
.skills__pd__brain {
  display: none;
}
@media (min-width: 961px) {
  .skills__pd__brain {
    display: block;
    margin-left: 12%;
  }
}

/*# sourceMappingURL=main.css.map */
