// Navbar Configurations

// Primary Nav Bar
nav {
  --nav-z-index: 999;
  --nav-fontsize: $calc(0.5rem + 1.2vh);
  --logo-color: #fff;
  --nav-text-color: #fff;
  --nav-text-hover-color: var(--pinky);
  --nav-background: transparent;
  --about-me-color: rgba(121, 57, 122, 1);
  --about-me-background: #fff;
  --about-me-background-hover: rgb(37, 37, 37);

  background: var(--nav-background);
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 1.1em 0;
  z-index: var(--nav-z-index);
  box-shadow: var(--shadow);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  .menu {
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 0 1.5em;
    @include media('>=desktop') {
      flex-direction: row;
    }

    &__top-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &__logo {
      color: var(--logo-color);
      font-size: 0.8rem;
      @include media('>=desktop') {
        font-size: calc(0.8rem + 0.2vw);
      }
    }

    &__expand {
      width: 100%;
      display: none;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      list-style: none;

      @include media('>=desktop') {
        display: flex;
        flex-direction: row;
        max-width: 60%;
      }

      @include media('>=normal-desktop') {
        max-width: 500px;
      }

      li {
        margin-top: 1.5em;
        @include  media('>=desktop'){
          margin-top: 0;
        }

        &.about-me {
          margin-top: 2em;
          @include media('>=desktop') {
            margin-top: 0;
          }
          .link {
            background: var(--about-me-background);
            color: var(--about-me-color);
            padding: 0.6em;
            border-radius: 1em;
            box-shadow: var(--shadow);
            &:hover {
              background: var(--about-me-background-hover);
            }
          }
        }
        .link {
          color: var(--nav-text-color);
          font-size: var(--nav-fontsize);
          font-weight: 500;
          letter-spacing: 0.1em;
          user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          &:hover {
            color: var(--nav-text-hover-color);
            text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4),
              -3px 10px 12px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }

    &__collapse {
      #open-menu {
        display: inline;
      }
      #close-menu {
        display: none;
      }
      @include media('>=desktop'){
        display: none;
      }
    }
  }
}


// Nav Bar on Scrolled 
// Will Effect when javascript runs
.nav--scrolled {
  --nav-text-color: #79397a;
  --nav-text-hover-color: var(--codewar);
  --nav-background: #fff;
  --logo-color: #1f3f45;
  --about-me-color: #fff;
  --about-me-background: var(--codewar);
  --about-me-background-hover: #fff;
}
