.contactMe {
  h3 {
    position: relative;
    text-align: center;
    margin: 3em 0 3em 0;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: var(--shadow);
    padding: 1em 0;
    margin-bottom: 12em;
    @include media(">=desktop") {
      align-items: center;
    }

    &__message {
      @include flex-center(column);
      max-width: 174px;
      max-height: 202px;
      margin-left: 10em;
      @include media("<=607px") {
        margin-left: 0;
        svg {
          width: 40px;
        }
      }
    }

    p {
      text-align: center;
      font-weight: 600;
      margin-top: 0.5em;
      font-size: 1rem;
      line-height: 2em;
      @include media("<=607px") {
        font-size: 0.5rem;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      &__item {
        display: flex;
        align-items: center;
        margin: 1em 2em;
        @include media("<=607px") {
          margin: 1em;
        }
        svg {
          margin: 0 0.5em;
          @include media("<=607px") {
            width: 20px;
            height: 20px;
          }
        }
        div {
          font-size: 1rem;
          @include media("<=607px") {
            font-size: 0.8rem;
          }

          a {
            color: #111111;
            font-weight: 600;
            &#phone-number {
              color: var(--codewar);
            }
            &:hover {
              font-weight: 700;
              font-size: 0.98em;
            }
          }
        }
      }
    }
  }
}
