.skills {
  scroll-margin-bottom: 25rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  // overflow: hidden;

  &__edu_card {
    background: linear-gradient(
      260.77deg,
      rgba(5, 5, 5, 0.91) 3.67%,
      rgba(77, 18, 82, 0.91) 25.52%,
      rgba(20, 122, 136, 0.91) 60.71%,
      rgba(9, 9, 9, 0.950345) 85.59%
    );
    width: 32ch;
    margin-top: 8em;
    padding-bottom: 0.5em;
  }

  &__edu {
    background: #fff;
    box-shadow: var(--shadow);
    width: 97%;
    height: 95%;
    padding: 0.2em;
    @include border-gradient(
      linear-gradient(
        to bottom,
        rgba(13, 164, 173, 1) 0%,
        rgba(0, 1, 0, 0.6) 90%
      )
    );
    text-align: center;
    font-size: 0.94rem;
    font-weight: 400;
    h2 {
      font-size: 1.1rem;
      margin-top: 2em;
    }
    p {
      margin-bottom: 3em;
      line-height: 1.7em;
      letter-spacing: 1.5px;
    }
    .line {
      width: 50%;
      height: 1px;
      background: #000;
      margin: 2em auto;
      margin-top: 0;
    }
    @include media(">=desktop") {
      font-size: 1rem;
    }
  }

  &__line_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__line {
    height: 200px;
    width: 2px;
    margin-top: 2em;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  }

  &__line_title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Coda";
    margin-top: 1em;
  }

  &__card {
    background: #f5f0f4;
    color: #414244;
    font-family: "Lato";
    font-size: calc(0.8rem + 0.5vw);
    letter-spacing: 0.2px;
    @include media("<=402px") {
      width: 95%;
    }
    @include media(">=desktop") {
      letter-spacing: 1px;
    }
    font-weight: 400;
    border: 1px solid;
    border-radius: 10px;

    h3 {
      color: #413331;
      text-align: center;
      margin-top: 1.5em;
      margin-bottom: 0.2em;
    }

    .line {
      height: 2px;
      margin: 0 auto;
      margin-bottom: 2em;
    }

    &__box {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 1.4em calc(0.5em + 0.5vw);
    }
    &_inside_card {
      background: #fff;
      line-height: 1.2em;
      border-radius: 10px;
      display: flex;
      align-items: center;
      p {
        margin: 1em;
        max-width: 410px;
        min-height: 138px;
      }
      #rank {
        width: 5.2ch;
        transform: translate(0%, 30%);
      }
    }
  }

  &__ps {
    @include card_and_brain;
    margin-top: 9em;
    &__card {
      border-color: var(--codewar);
      @include media(">=desktop") {
        margin-left: 2%;
      }
      .line {
        width: 10em;
        background: var(--codewar);
      }
      &_inside_card {
        p {
          transform: translate(0%, 15%);
          @include media(">=desktop") {
            transform: translate(0%, 5%);
          }
        }
      }
      &__highlight {
        color: var(--codewar);
      }

      &__logo {
        margin-left: 1em;
      }
    }
    &__brain {
      display: none;
      @include media(">=desktop") {
        margin-right: 12%;
        display: block;
      }
    }

    &__perfect_brain {
      @include media(">=desktop") {
        display: none;
      }
      margin: 20vh auto;
    }
  }

  &__pd {
    @include card_and_brain;
    margin-top: 0;
    flex-direction: column-reverse;
    margin-bottom: 15vh;
    @include media(">=desktop") {
      margin-top: 9em;
      margin-bottom: 30vh;
      flex-direction: row-reverse;
    }

    &__card {
      border-color: #19b5f5;
      @include media(">=desktop") {
        margin-left: 2%;
      }
      .line {
        width: 14em;
        background: #a259ff;
      }
      &_inside_card {
        p {
          transform: translate(0%, 22%);
        }
      }
      &__highlight {
        color: #7d26ee;
      }
      &__box {
        flex-direction: row-reverse;
      }
      &__logo {
        margin-bottom: 2em;
        margin-right: 1em;
        @include media("<desktop") {
          margin-bottom: 3.5em;
        }
      }
    }
    &__brain {
      display: none;
      @include media(">=desktop") {
        display: block;
        margin-left: 12%;
      }
    }
  }
}
