// Media
@import "../include-media";

.landing {
  background: linear-gradient(
    180deg,
    rgba(53, 87, 75, 0.75) 0%,
    rgba(51, 74, 86, 0.96) 42.37%,
    rgba(38, 24, 40, 0.981485) 86.98%,
    #000000 100%
  );
  display: flex;
  align-items: flex-end;

  &__main {
    height: 85vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;

    @include media(">=desktop") {
      flex-direction: row;
    }
  }

  &__feature-text {
    @include media(">=desktop") {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-family: "Poppins";
      color: rgb(204, 218, 202);
      font-size: calc(1.3rem + 2vw);
      text-align: center;
      font-weight: 700;
      line-height: 1.6em;
      letter-spacing: 0.2em;
      padding: 0.5em;
      margin-bottom: 2em;
      @include media(">=desktop") {
        margin-bottom: 4em;
        text-align: start;
      }
    }
    // .color-programmer {
    //   color: rgba(169, 117, 255, 1);
    // }

    .color-love {
      color: rgb(241, 96, 243);
    }

    // .color-quality {
    //   color: rgba(162, 89, 255, 1);
    // }

    .color-codes {
      color: rgba(85, 181, 146, 0.87);
    }
  }

  &__feature-img {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    @include media(">=desktop") {
      flex-direction: row;
    }
    #side-img {
      height: 100%;
      width: 100%;
      @include media(">=desktop") {
        width: 80%;
      }
    }
    #environments {
      #coffee {
        animation-duration: 5s;
        animation-name: floatingCoffee;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    #programmer {
      animation-duration: 2s;
      animation-name: floatingProgrammer;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    #computer3,
    #computer2 {
      animation-duration: 5s;
      animation-name: floatingComputer;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      > #apple {
        animation-duration: 2s;
        animation-name: changeAppleColor;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
}

@keyframes floatingProgrammer {
  from {
    transform: translateY(2%);
  }

  to {
    transform: translateY(-2%);
  }
}

@keyframes floatingComputer {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-2%);
  }
}

@keyframes floatingCoffee {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-2%);
  }
}

@keyframes changeAppleColor {
  from {
    fill: rgb(241, 96, 243);
  }

  to {
    fill: rgba(85, 181, 146, 0.87);
  }
}
