.cs_skills {
  scroll-margin-bottom: 50vh;
  scroll-margin-top: 20px;
  background: rgb(255, 255, 255);
  min-height: 100vh;

  &__title {
    @include section_header(calc(180px - 10vh));
  }

  &__box {
    padding-top: 11em;
    z-index: 2;
    width: 100%;
    max-width: 1180px;
    @include media(">=desktop") {
      padding-top: 30vh;
      width: 95%;
    }
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @include media(">=desktop") {
      flex-direction: row;
    }
    justify-content: space-between;
    &__data {
      margin: 2em 1em;
    }
    &__title {
      margin-bottom: 2em;
      h4 {
        display: inline;
        text-align: center;
        padding-bottom: 1px;
        border-bottom: 2px solid rgb(29, 28, 28);
        @include media(">=desktop") {
          display: block;
        }
      }
    }
    &__skill_type {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      @include media(">=desktop") {
        flex-direction: column;
        align-items: flex-start;
      }

      &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media(">=desktop") {
          width: 100%;
          flex-direction: row;
          margin-bottom: 1em;
        }
        @include media("<desktop") {
          margin-right: 1.8em;
        }
        &__logo {
          @include media(">=desktop") {
            margin-right: 10px;
          }
          svg {
            height: 40px;
            width: 50px;
            @include media(">=desktop") {
              height: 35px;
              width: 40px;
            }
          }
        }
        &__title {
          font-size: calc(0.9em + 0.2vw);
          text-align: center;
          font-weight: 600;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

.bubble {
  width: calc(100px + 5vw);
  height: calc(100px + 5vw);
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 1;

  &__indigo {
    background: linear-gradient(
      180deg,
      rgba(221, 173, 222, 0.95) 0%,
      rgba(196, 196, 196, 0) 100%
    );
    transform: rotate(180deg);
    top: -4%;
    right: 0;
    @include media(">=desktop") {
      top: -12%;
      right: 30%;
    }
  }
  &__yellow {
    background: linear-gradient(
      180deg,
      rgba(247, 223, 30, 0.57) 0%,
      #c4c4c400 100%
    );
    top: 15%;
    @include media(">=desktop") {
      top: 12%;
    }
    transform: translate(-40%, 0%);
  }
  &__pink {
    background: linear-gradient(
      180deg,
      rgba(255, 0, 125, 0.34) 0%,
      rgba(173, 82, 126, 0) 100%
    );
    top: 58%;
    left: 50px;
    @include media(">=desktop") {
      top: 20%;
      left: 65%;
    }
  }
}
