@mixin showAtTop {
  position: absolute;
  top: 0;
}


.intro {
  position: relative;
  &__big_polygon {
    background: linear-gradient(
      260.77deg,
      #307772 2.95%,
      rgba(57, 48, 58, 0.91) 119.45%
    );
    clip-path: polygon(100% 10%, 100% 80%, 0 96%, 0 34%);
    @include fullwh;
    @include media(">=desktop") {
      clip-path: polygon(100% 10%, 100% 70%, 0 96%, 0 34%);
    }
  }
  &__small_polygon {
    background-color: #202020;
    clip-path: polygon(0 87.5%, 100% 73%, 100% 100%, 0 100%);
    @include media(">=desktop"){
      clip-path: polygon(32.2% 87.5%, 100% 68%, 100% 100%, 38% 100%);
    }
    @include showAtTop;
    @include fullwh;
    overflow: hidden;

    &::after {
      content: "";
      background-color: #282727;
      clip-path: polygon(0 87.5%, 100% 73%, 100% 100%, 0 100%);
      @include showAtTop;
      width: 101%;
      height: 101vh;
      left: 10px;
      @include media(">=desktop") {
        clip-path: polygon(32.2% 87.5%, 100% 68%, 100% 100%, 38% 100%);
      }
    }
  }

  &__card {
    width: calc(15em + 5vw + 1vh);
    height: calc(12em + 5vw + 1vh);
    box-shadow: var(--shadow);
    background: white;
    @include showAtTop;
    right: 0;
    margin-right: 2em;
    border-radius: 53px;
    top: calc(10rem - 1vw + 7vh);
  }
}
